php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0
php_flag magic_quotes_sybase 0
php_value session.cookie_lifetime 36000
php_value session.gc_maxlifetime 36000
php_flag register_globals off
php_flag safe_mode on
php_flag display_errors off
php_flag log_errors on
php_flag allow_url_fopen off
php_value memory_limit 1000M
php_value upload_max_filesize 5000M
php_value post_max_size 5000M
php_value session.save_handler files
Options -Indexes
AddDefaultCharset utf-8
<IfModule mod_charset.c>
	CharsetRecodeMultipartForms Off
	CharsetSourceEnc utf-8
</IfModule>
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /




	RewriteRule ^(.*)lib(\d\.\d+)\.js(.*)$ wq121/mini.php?path=$1&ver=$2&var$3&type=js&preset=lib [NC,L]
	RewriteRule ^(.*)susjs(\d\.\d+)\.js(.*)$ wq121/mini.php?path=$1&ver=$2&var$3&type=js&preset=sus [NC,L]
	RewriteRule ^(.*)js_([a-z]*)\.(\d\.\d+)\.js(.*)$ wq121/mini.php?path=$1&ver=$3&file=$2&var$4&type=js [NC,L]
	RewriteRule ^(.*)m_([a-z]+)(\d\.\d+)\.css(.*)$ wq121/mini.php?path=$1&ver=$3&file=$2&var$4&type=css [NC,L]
	RewriteRule ^(.*)m_([a-z,_,\-,.]+)\.css(.*)$ wq121/mini.php?path=$1&file=$2&var$3&type=css [NC,L]
	RewriteRule ^(.*)p_sus\.css(.*)$ wq121/mini.php?path=$1&file=$2&var$3&type=css&preset=pcss [NC,L]
</IfModule>

DirectoryIndex include.php
