.pdp_sub{margin:10px 0 0 60px;width:80px;color:#008c00;text-decoration: underline;}
#right_hit .sk_ttl{vertical-align:middle;height:28px;overflow: hidden;font-size:13px;line-height:14px}
#right_hit .mc3_block{text-align: center}
#right_hit table{width: 100%}
.mc3_block{font-size: 12px;font-weight: bold; text-decoration:none!important;background:url(../images/mc3div.png) repeat-y;position:relative;margin: 5px 0;padding: 5px 0}