#imCel0_00 {position: absolute; top: 0px; left: 10px; height: 29px; width: 568px; overflow: hidden; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Tahoma; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fc3 {color: #008000; }
#imObj0_00 .fs16 {font-size: 21px ; vertical-align: baseline; line-height: 24px ; }
#imObj0_00 .fs12 {font-size: 16px ; vertical-align: baseline; line-height: 19px ; }
#imObj0_00 {padding: 0px; }
#imCel0_00_Cont {text-align: center; height: 29px; overflow: hidden; }
#imCel6_00 {height: 640px; width: 650px; margin:0px auto; overflow: hidden; }
#imSSCont_0 {border: 2px solid #C0C0C0; width: 600px; margin: auto; }
#imSSBackg_0 {width: 600px; height: 512px; background-color: #DEFCC9; overflow: hidden; position: relative; }
#imSSImage_0 {position: absolute; top: 0px !important; left: 0px !important; }
#imSSDescr_0 {font: 11px Tahoma; color: #000000; width: 570px; overflow: hidden; position: absolute; top: 480px; left: 0; }
img.imssBtn {cursor: pointer; }
#imObj6_00 {padding: 0px; }
#imCel6_00_Cont {text-align: center; height: 570px; overflow: hidden; }
#imPage {position: relative; height: 555px; }

