<table border="0" width="100%">
<tbody>
<tr>
<td width="50%">
<div class="msg_warn" style="display: block;" onclick="window.location.href='/ishop/1879'"><img src="templates/101/images/attention.png" alt="" /><em>Распродажа! Розы в контейнерах:</em>Barni, Kordes, D.Ostin, Guillot и пр.<em>СКИДКА 40%</em></div>
</td>
<td width="50%">
<div class="msg_warn" onclick="window.location.href='/ishop/7'"><img src="/templates/101/images/attention.png" alt="" /><em>Распродажа!</em>Лиственные и хвойные кустарники<em>СКИДКА 40%</em></div>
</td>
</tr>
</tbody>
</table>